<p>
    <% if(isMe){ %>
    <a>@提到到我的（3）</a>
    <% } else {%>
    <!-- <button>关注</button> -->
    <p class="margin-top-10">
        <button id="btn-un-follow" class="btn btn-light" style="display: none">取消关注</button>
        <button id="btn-follow" class="btn btn-primary" style="display: none">关注</button>
    </p>
    <% } %>
</p>
<script>
    $(() => {
        // 当前用户id
        var curUserId = <%= userInfo.id%>
        // 按钮  显示和隐藏
        var $btnFollow = $('#btn-follow')
        var $btnUnFollow = $('#btn-un-follow')
        if (<%= !isMe %>){
        // 不是当前用户，则显示“关注” 或者“取消关注”
        if (<%= locals.amIFollowed %>) {
            $btnUnFollow.show()
        }else {
            $btnFollow.show()
        }
    }

    // 关注此人
    $btnFollow.click(() => {
        ajax.post('/api/profile/follow', {
            userId: curUserId
        }, (err) => {
            if (err) {
                alert(err)
                return
            }
            // 关注成功
            $btnFollow.hide()
            $btnUnFollow.show()
        })
    })

    // 取消关注
    $btnUnFollow.click(() => {
        if (confirm('确定取消关注？') === false) {
            return
        }
        ajax.post('/api/profile/unFollow', {
            userId: curUserId
        }, (err) => {
            if (err) {
                alert(err)
                return
            }

            // 取消
            $btnFollow.show()
            $btnUnFollow.hide()
        })
    })
    })
</script>